#technology {
    height: 100vh;
    width: 100vw;
    color: $color-primary;
    
    .container {
        background: url(../images/tech-bg.jpg);
    }
    
    // .slider {
    //     transform: translateX(-100%);
    //     transition: transform 0.7s ease-in-out;
    // }


    .u-content__wrap {
        justify-content: space-between;
        width: 100%;
        padding: 10rem 0;
    }



    .content__wrap-text {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6rem;
        padding-left: 20rem ;

        span {
            font-weight: 700;
            opacity: 0.25;
            letter-spacing: 4.725px;
        }

        .nav-and-text {
            display: flex;
            gap: 5rem;
            
            .content__wrap-nav {
                
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 3.5rem;
                }

                ul li {
                    list-style: none;
                    // margin: 2rem;
                    
                    
                    
                    a {
                        display: block;
                        border-radius: 50%;
                        color: $color-primary;
                        font-size: 3.2rem;
                        line-height: 3.6rem;
                        text-align: center;
                        padding: 1rem 2rem;
                        border: 1px solid rgba(255, 255, 255, 0.25);
                        background: transparent;
                        
                        
                        &:hover {
                            border: 1px solid rgba(255, 255, 255);
                        }
                        
                        
                    }
                    .active {
                        background-color: $color-primary;
                        color: $color-tetiary;
                    }
                }
                
            }
            
            .text-details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.7rem;
                    letter-spacing: 0.27rem;
                    color: $color-secondary;
                    max-width: 44.2rem;
                    text-align: justify;
                }

                h3 {
                    font-weight: 400;
                    font-size: 5.3rem;
                    line-height: 6.4rem;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }

                
            }
        }

    }


    .content__wrap-img {
        width: 35vw;
        height: 60vh;
        align-self: flex-end;

        .image {
            height: 100%;
            width: 100%;
            
        }
        
        .tech-1 {
            background: url(../images/tech-1.jpg) no-repeat center center/contain;
        }
        .tech-2 {
            background: url(../images/tech-2.jpg) no-repeat center center/contain;
        }
        .tech-3 {
            background: url(../images/tech-3.jpg) no-repeat center center/contain;
        }

    }
}

@media (max-width: $laptop) {
    #technology {
        .content__wrap-text {
            padding-left: 5rem;
            
        } 

    }

}


@media (max-width: $tablet) {
    #technology {
        
        .conntainer {
            background: url(../images/tech-tab-bg.jpg);
        }
        
        .u-content__wrap {
            flex-direction: column-reverse;
            justify-content: flex-end;
            width: 100%;
            padding: 0;
            position: relative;
        }
        
        .content__wrap-img { 
            height: 35%;
            width: 100%;
            margin-top: 18rem;

            .tech-1 {
                background: url(../images/tech-1-tab.jpg) no-repeat center center/cover;
            }
            .tech-2 {
                background: url(../images/tech-2-tab.jpg) no-repeat center center/cover;
            }
            .tech-3 {
                background: url(../images/tech-3-tab.jpg) no-repeat center center/cover;
            }
        }

        .content__wrap-text {
            height: 55%;
            width: 100%;
            padding-left: 0;
            gap: 0;
            text-align: center;

            .heading-5 {
                font-size: 2rem;
                line-height: 2.4rem;
                letter-spacing: 0.3375rem;
                position: absolute;
                top: 13rem;
                left: 3rem;
                
            }

            .nav-and-text {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .content__wrap-nav {


                    ul {
                        flex-direction: row;
                        // justify-content: space-between;
                        gap: 2rem;

                        a {
                            font-size: 2rem;
                            line-height: 2.4rem;
                            letter-spacing: 0.337rem;
                    }
                }

            }

            .text-details {
                gap: 2rem;
                p {
                    line-height: 1.9rem;
                    width: 50rem;
                    text-align: center;

                    &:not(:first-child) {
                        line-height: 2.7rem;
                    }
                }

                h3 {
                    font-size: 4rem;
                    line-height: 4.6rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}
}