#technology {
    height: 100vh;
    width: 100vw;
    color: $color-primary;
    
    .container {
        background: url(../images/tech-bg.jpg);
    }
    
    // .slider {
    //     transform: translateX(-100%);
    //     transition: transform 0.7s ease-in-out;
    // }


    .u-content__wrap {
        justify-content: space-between;
        width: 100%;
        padding: 10rem 0;
    }



    .content__wrap-text {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6rem;
        padding-left: 20rem ;

        span {
            font-weight: 700;
            opacity: 0.25;
            letter-spacing: 4.725px;
        }

        .nav-and-text {
            display: flex;
            gap: 5rem;
            
            .content__wrap-nav {
                
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 3.5rem;
                }

                ul li {
                    list-style: none;
                    // margin: 2rem;
                    
                    
                    
                    a {
                        display: block;
                        border-radius: 50%;
                        color: $color-primary;
                        font-size: 3.2rem;
                        line-height: 3.6rem;
                        text-align: center;
                        padding: 1rem 2rem;
                        border: 1px solid rgba(255, 255, 255, 0.25);
                        background: transparent;
                        
                        
                        &:hover {
                            border: 1px solid rgba(255, 255, 255);
                        }
                        
                        
                    }
                    .active {
                        background-color: $color-primary;
                        color: $color-tetiary;
                    }
                }
                
            }
            
            .text-details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.7rem;
                    letter-spacing: 0.27rem;
                    color: $color-secondary;
                    width: 44.2rem;
                    text-align: justify;
                }

                h3 {
                    font-weight: 400;
                    font-size: 5.3rem;
                    line-height: 6.4rem;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }

                
            }
        }

    }


    .content__wrap-img {
        width: 27%;
        height: 90%;
        align-self: flex-end;

        .image {
            height: 100%;
            width: 100%;
            
        }
        
        .tech-1 {
            background: url(../images/tech-1.jpg) no-repeat center center/contain;
        }
        .tech-2 {
            background: url(../images/tech-2.jpg) no-repeat center center/contain;
        }

    }
}


