@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  overflow-x: hidden;
}

.active {
  border-bottom: 2px solid #ffffff;
}

h1, h2, h3, h4 {
  font-family: "Bellefair", serif;
  color: #ffffff;
}

h5, p, a {
  font-family: "Barlow Condensed", sans-serif;
}

.heading-1 {
  font-size: 8.2rem;
  color: #ffffff;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  background-color: #0b0d17;
  position: relative;
}
header .header__wrap-left {
  width: 30vw;
  height: 100%;
  background: url(../images/Home-image1.png) no-repeat center center/cover;
}
header .header__wrap-right {
  width: 70vw;
  height: 100%;
  background: url(../images/Home-image2.png) no-repeat center center/cover;
}
header .navbar {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 1rem;
  left: 0;
  display: flex;
  align-items: center;
}
header .navbar .logo {
  position: absolute;
  left: 3%;
  width: 3.8rem;
  height: 3.8rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .line {
  height: 0.5px;
  width: 33%;
  background-color: #ffffff;
  position: absolute;
  position: absolute;
  left: 10.5%;
}
header .navbar .nav {
  width: 57%;
  position: absolute;
  right: -0.5%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0.9;
}
header .navbar .nav ol {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
header .navbar .nav ol li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem;
  transition: 0.3s all;
}
header .navbar .nav ol li a:hover {
  border-bottom: 1px solid #fff;
}
header .navbar .nav ol li span {
  font-weight: 700;
  margin-right: 0.5rem;
}
header .header_content {
  position: absolute;
  left: 15%;
  bottom: 10%;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
}
header .header_content h5 {
  font-size: 1.75rem;
  line-height: 3.3;
  color: #d0d6f9;
}
header .header_content p {
  width: 25rem;
  font-size: 1.125rem;
  line-height: 1.6;
  word-spacing: 4.75;
  color: #d0d6f9;
  text-align: justify;
}
header .header__btn {
  position: absolute;
  bottom: 10%;
  right: 20%;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
header .header__btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: blue;
  z-index: -1;
}
header .header__btn .landing-btn {
  padding: 4.1rem 3rem;
  border-radius: 50%;
  color: #0b0d17;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
}
header .header__btn .landing-btn .header__btn:hover ~ .landing-btn {
  transform: scale(1.1);
  background-color: #0b0d17;
  opacity: 0.4;
}/*# sourceMappingURL=main.css.map */