@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

.active {
  border-bottom: 2px solid #ffffff;
}

h1, h2, h3, h4 {
  font-family: "Bellefair", serif;
  color: #ffffff;
}

h5, p, a {
  font-family: "Barlow Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.1s;
}

a:hover {
  border-bottom: 2px solid #d0d6f9;
}

.heading-5 {
  font-size: 2.8rem;
  line-height: 3.36rem;
  letter-spacing: 0.4725rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.heading-1 {
  font-size: 15rem;
  line-height: 17.19rem;
  color: #ffffff;
}

.navbar {
  width: 100%;
  height: 9.8rem;
  position: fixed;
  top: 1.5rem;
  left: 0;
  display: flex;
  align-items: center;
}
.navbar .logo {
  position: absolute;
  left: 3%;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .line {
  height: 0.5px;
  width: 33%;
  background-color: #ffffff;
  position: absolute;
  position: absolute;
  left: 10.5%;
}
.navbar .nav {
  width: 57%;
  position: absolute;
  right: -0.5%;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0.9;
}
.navbar .nav ol {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.navbar .nav ol li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.92rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  padding: 2rem;
}
.navbar .nav ol li span {
  font-weight: 700;
  margin-right: 0.5rem;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  background-color: #0b0d17;
  position: relative;
}
header .header__wrap-left {
  width: 30vw;
  height: 100%;
  background: url(../images/Home-image1.png) no-repeat center center/cover;
}
header .header__wrap-right {
  width: 70vw;
  height: 100%;
  background: url(../images/Home-image2.png) no-repeat center center/cover;
}
header .header_content {
  position: absolute;
  left: 15%;
  bottom: 10%;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
}
header .header_content h5 {
  color: #d0d6f9;
}
header .header_content p {
  width: 44.4rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #d0d6f9;
  text-align: justify;
}
header .header__btn {
  position: absolute;
  bottom: 15%;
  right: 15%;
  text-align: center;
}
header .header__btn .landing-btn:link,
header .header__btn .landing-btn:visited {
  display: inline-block;
  height: 26.4rem;
  width: 26.4rem;
  color: rgb(11, 13, 23);
  font-size: 3.2rem;
  line-height: 3.667rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  padding: 40% 23%;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  isolation: isolate;
}
header .header__btn .landing-btn:link::after,
header .header__btn .landing-btn:visited::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
  transition: all 0.3s;
}
header .header__btn .landing-btn:link:hover::after,
header .header__btn .landing-btn:visited:hover::after {
  transform: scale(1.6);
  opacity: 0.1;
  mix-blend-mode: normal;
}

#destination {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
#destination .container {
  height: 100vh;
  width: 100vw;
  background: url(../images/dest-bg.jpg) center center/cover;
}
#destination .content__wrap {
  width: 90%;
  height: 100%;
  display: flex;
  padding: 1.5rem 0;
}
#destination .content__wrap-img {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#destination .content__wrap-img h5 {
  margin-top: 10rem;
}
#destination .content__wrap-img span {
  font-weight: 700;
  opacity: 0.25;
  letter-spacing: 4.725px;
}
#destination .content__wrap-img .image {
  height: 40.5rem;
  width: 40.5rem;
  margin-top: 5rem;
}
#destination .content__wrap-img .moon-img {
  background: url(../images/destination-moon.png) no-repeat center center/contain;
}
#destination .content__wrap-img .mars-img {
  background: url(../images/destination-mars.png) no-repeat center center/contain;
}
#destination .content__wrap-img .europa-img {
  background: url(../images/destination-europa.png) no-repeat center center/contain;
}
#destination .content__wrap-img .titan-img {
  background: url(../images/destination-titan.png) no-repeat center center/contain;
}
#destination .content__wrap-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 0 12rem;
}
#destination .content__wrap-text nav {
  margin-top: 20rem;
}
#destination .content__wrap-text nav ul {
  list-style: none;
  display: flex;
}
#destination .content__wrap-text nav ul a {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.92rem;
  letter-spacing: 0.27rem;
  color: #fff;
  padding: 0.5rem;
  text-decoration: none;
  margin-right: 1.5rem;
}
#destination .content-heading {
  font-size: 9rem;
  line-height: 10.5rem;
  font-weight: 400;
}
#destination .content-para {
  font-size: 1.7rem;
  line-height: 3.2rem;
  color: #d0d6f9;
  text-align: justify;
  border-bottom: 1px solid #777;
  padding-bottom: 2.5rem;
}
#destination .content__wrap-footer {
  display: flex;
  gap: 5rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
}
#destination .content__wrap-footer .foot-text-sm {
  font-family: "Barlow Condensed";
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.23625rem;
  color: #d0d6f9;
  margin: 0.8rem 0.5rem;
}
#destination .content__wrap-footer .foot-text-lg {
  font-family: "Bellefair";
  font-size: 2.8rem;
  line-height: 3.2rem;
}/*# sourceMappingURL=main.css.map */