@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
.heading-1 {
  font-size: 15rem;
  line-height: 17.19rem;
  color: #ffffff;
}

.heading-5 {
  font-size: 2.8rem;
  line-height: 3.36rem;
  letter-spacing: 0.4725rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-content__wrap {
  width: 90%;
  height: 100%;
  display: flex;
}
@media (max-width: 768px) {
  .u-content__wrap {
    flex-direction: column;
    width: 100%;
  }
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/Home-image.jpg) no-repeat center center/cover;
}
header .u-content__wrap {
  justify-content: space-around;
  align-items: center;
}
header .header_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  height: 80%;
  width: 50%;
  gap: 2.4rem;
}
header .header_content h5 {
  color: #d0d6f9;
}
header .header_content p {
  width: 44.4rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #d0d6f9;
  text-align: justify;
}
header .header__btn {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
header .header__btn .landing-btn:link,
header .header__btn .landing-btn:visited {
  display: inline-block;
  color: rgb(11, 13, 23);
  font-size: 2.5vw;
  line-height: 3.667rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-align: center;
  padding: 18% 11%;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  isolation: isolate;
}
header .header__btn .landing-btn:link::after,
header .header__btn .landing-btn:visited::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
  transition: all 0.3s;
}
header .header__btn .landing-btn:link:hover::after,
header .header__btn .landing-btn:visited:hover::after {
  transform: scale(1.6);
  opacity: 0.1;
  mix-blend-mode: normal;
}

@media (max-width: 992px) {
  header .header__btn {
    padding: 0 0 5rem 3rem;
  }
  header .header_content {
    padding-left: 2rem;
  }
  header .header_content .heading-5 {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.38rem;
  }
  header .header_content .heading-1 {
    line-height: 15rem;
  }
  header .header_content p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  header {
    background: url(../images/home-tab.jpg) no-repeat center center/cover;
  }
  header .u-content__wrap {
    flex-direction: column;
  }
  header .header_content {
    height: 60%;
    width: 100%;
    justify-content: center;
    padding-top: 7rem;
    gap: 1rem;
    text-align: center;
  }
  header .header__btn {
    height: 40%;
    width: 100%;
    align-items: center;
    padding: 0;
  }
  header .header__btn .landing-btn:link,
  header .header__btn .landing-btn:visited {
    font-size: 3.2rem;
    line-height: 3.7rem;
    letter-spacing: 0.2rem;
    padding: 14% 9%;
  }
}
#crew {
  height: 100vh;
  width: 100vw;
  color: #ffffff;
}
#crew .container {
  background: url(../images/crew-bg-img.png);
}
#crew .content__wrap-text {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
}
#crew .content__wrap-text span {
  font-weight: 700;
  opacity: 0.25;
  letter-spacing: 4.725px;
}
#crew .content__wrap-text .heading-5 {
  margin-top: 10rem;
}
#crew .content__wrap-text .crew-title {
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 3.7rem;
  opacity: 0.5;
  text-transform: uppercase;
  margin-top: 10rem;
  color: #ffffff;
}
#crew .content__wrap-text .crew-name {
  font-weight: 400;
  font-size: 5rem;
  line-height: 6.4rem;
  text-transform: uppercase;
}
#crew .content__wrap-text .content-para {
  width: 40rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 32px;
  text-align: justify;
  color: #d0d6f9;
  margin-top: 1rem;
}
#crew .content__wrap-text .content__wrap-footer {
  margin-top: 6rem;
}
#crew .content__wrap-text .content__wrap-footer ul li {
  list-style: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
#crew .content__wrap-text .content__wrap-footer a .active {
  opacity: 1;
}
#crew .content__wrap-text .content__wrap-footer .toggle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.17;
}
#crew .content__wrap-text .content__wrap-footer .toggle:hover {
  opacity: 0.5;
}
#crew .content__wrap-img {
  height: 100%;
  width: 40%;
  display: flex;
}
#crew .content__wrap-img .image {
  height: 80.5%;
  width: 95.807%;
  align-self: flex-end;
}
#crew .content__wrap-img .crew-1 {
  background: url(../images/crew-1.png) no-repeat -20% center/contain;
}
#crew .content__wrap-img .crew-2 {
  background: url(../images/crew-2.png) no-repeat center center/contain;
}
#crew .content__wrap-img .crew-3 {
  background: url(../images/crew-3.png) no-repeat center center/contain;
}
#crew .content__wrap-img .crew-4 {
  background: url(../images/crew-4.png) no-repeat center center/contain;
}

@media (max-width: 992px) {
  #crew .content__wrap-text {
    padding-left: 3rem;
  }
}
@media (max-width: 768px) {
  #crew .container {
    background: url(../images/crew-tab-bg.jpg);
  }
  #crew .content__wrap-img {
    height: 50%;
    width: 100%;
  }
  #crew .content__wrap-img .image {
    height: 90%;
    width: 100%;
  }
  #crew .content__wrap-img .crew-1 {
    background: url(../images/crew-1.png) no-repeat center center/contain;
  }
  #crew .content__wrap-text {
    height: 50%;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
  #crew .content__wrap-text .heading-5 {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.3375rem;
    align-self: flex-start;
    margin-top: 13rem;
    margin-left: 3rem;
  }
  #crew .content__wrap-text .crew-title {
    margin-top: 5rem;
    font-size: 2.4rem;
    line-height: 2.7rem;
  }
  #crew .content__wrap-text .crew-name {
    font-size: 4rem;
    line-height: 6.58rem;
  }
  #crew .content__wrap-text .content-para {
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: center;
    font-family: "Barlow";
  }
  #crew .content__wrap-text .content__wrap-footer {
    margin-top: 3rem;
  }
}
#destination {
  height: 100vh;
  width: 100vw;
  color: #ffffff;
}
#destination .container {
  background: url(../images/dest-bg.jpg);
}
#destination .content__wrap-img {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
#destination .content__wrap-img h5 {
  margin-top: 10rem;
}
#destination .content__wrap-img span {
  font-weight: 700;
  opacity: 0.25;
  letter-spacing: 4.725px;
}
#destination .content__wrap-img .image {
  height: 100%;
  width: 100%;
  margin-top: 5rem;
}
#destination .content__wrap-img .moon-img {
  background: url(../images/destination-moon.png) no-repeat center center/contain;
}
#destination .content__wrap-img .mars-img {
  background: url(../images/destination-mars.png) no-repeat center center/contain;
}
#destination .content__wrap-img .europa-img {
  background: url(../images/destination-europa.png) no-repeat center center/contain;
}
#destination .content__wrap-img .titan-img {
  background: url(../images/destination-titan.png) no-repeat center center/contain;
}
#destination .content__wrap-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 0 12rem 2rem 12rem;
}
#destination .content__wrap-text nav {
  margin-top: 13rem;
}
#destination .content__wrap-text nav ul {
  list-style: none;
  display: flex;
}
#destination .content__wrap-text nav ul a {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.92rem;
  letter-spacing: 0.27rem;
  color: #fff;
  padding: 0.5rem;
  text-decoration: none;
  margin-right: 1.5rem;
}
#destination .content-heading {
  font-size: 9rem;
  line-height: 10.5rem;
  font-weight: 400;
}
#destination .content-para {
  font-size: 1.7rem;
  line-height: 3.2rem;
  color: #d0d6f9;
  text-align: justify;
  border-bottom: 1px solid #383B4B;
  padding-bottom: 2.5rem;
}
#destination .content__wrap-footer {
  display: flex;
  gap: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  width: 50vw;
}
#destination .content__wrap-footer .foot-text-sm {
  font-family: "Barlow Condensed";
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.23625rem;
  color: #d0d6f9;
  margin: 0.8rem 0.5rem;
}
#destination .content__wrap-footer .foot-text-lg {
  font-family: "Bellefair";
  font-size: 2.8rem;
  line-height: 3.2rem;
}

@media (max-width: 992px) {
  #destination .content__wrap-text {
    align-items: center;
    padding: 3rem;
  }
  #destination .content__wrap-text .content-para {
    text-align: center;
  }
  #destination .content__wrap-text .content__wrap-footer {
    gap: 2rem;
    text-align: center;
    justify-content: center;
  }
  #destination .content__wrap-text .content__wrap-footer .foot-text-sm {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.23625rem;
    margin: 0.8rem 0.5rem;
  }
  #destination .content__wrap-text .content__wrap-footer .foot-text-lg {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
@media (max-width: 768px) {
  #destination .container {
    background: url(../images/Dest-tab-bg.jpg);
  }
  #destination .content__wrap-img {
    height: 50%;
    width: 100%;
  }
  #destination .content__wrap-img .heading-5 {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.3375rem;
    align-self: flex-start;
    margin-top: 13rem;
    margin-left: 3rem;
  }
  #destination .content__wrap-text {
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #destination .content__wrap-text nav {
    margin-top: 2rem;
  }
  #destination .content__wrap-text nav ul a {
    font-size: 1.6rem;
  }
  #destination .content__wrap-text .content-heading {
    font-size: 8rem;
    line-height: 9.1rem;
  }
  #destination .content__wrap-text .content-para {
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: center;
    font-family: "Barlow";
    padding-bottom: 3.5rem;
  }
}
#technology {
  height: 100vh;
  width: 100vw;
  color: #ffffff;
}
#technology .container {
  background: url(../images/tech-bg.jpg);
}
#technology .u-content__wrap {
  justify-content: space-between;
  width: 100%;
  padding: 10rem 0;
}
#technology .content__wrap-text {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  padding-left: 20rem;
}
#technology .content__wrap-text span {
  font-weight: 700;
  opacity: 0.25;
  letter-spacing: 4.725px;
}
#technology .content__wrap-text .nav-and-text {
  display: flex;
  gap: 5rem;
}
#technology .content__wrap-text .nav-and-text .content__wrap-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.5rem;
}
#technology .content__wrap-text .nav-and-text .content__wrap-nav ul li {
  list-style: none;
}
#technology .content__wrap-text .nav-and-text .content__wrap-nav ul li a {
  display: block;
  border-radius: 50%;
  color: #ffffff;
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-align: center;
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: transparent;
}
#technology .content__wrap-text .nav-and-text .content__wrap-nav ul li a:hover {
  border: 1px solid rgb(255, 255, 255);
}
#technology .content__wrap-text .nav-and-text .content__wrap-nav ul li .active {
  background-color: #ffffff;
  color: #0b0d17;
}
#technology .content__wrap-text .nav-and-text .text-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#technology .content__wrap-text .nav-and-text .text-details p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  letter-spacing: 0.27rem;
  color: #d0d6f9;
  max-width: 44.2rem;
  text-align: justify;
}
#technology .content__wrap-text .nav-and-text .text-details h3 {
  font-weight: 400;
  font-size: 5.3rem;
  line-height: 6.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
#technology .content__wrap-img {
  width: 35vw;
  height: 60vh;
  align-self: flex-end;
}
#technology .content__wrap-img .image {
  height: 100%;
  width: 100%;
}
#technology .content__wrap-img .tech-1 {
  background: url(../images/tech-1.jpg) no-repeat center center/contain;
}
#technology .content__wrap-img .tech-2 {
  background: url(../images/tech-2.jpg) no-repeat center center/contain;
}
#technology .content__wrap-img .tech-3 {
  background: url(../images/tech-3.jpg) no-repeat center center/contain;
}

@media (max-width: 992px) {
  #technology .content__wrap-text {
    padding-left: 5rem;
  }
}
@media (max-width: 768px) {
  #technology .conntainer {
    background: url(../images/tech-tab-bg.jpg);
  }
  #technology .u-content__wrap {
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    position: relative;
  }
  #technology .content__wrap-img {
    height: 35%;
    width: 100%;
    margin-top: 18rem;
  }
  #technology .content__wrap-img .tech-1 {
    background: url(../images/tech-1-tab.jpg) no-repeat center center/cover;
  }
  #technology .content__wrap-img .tech-2 {
    background: url(../images/tech-2-tab.jpg) no-repeat center center/cover;
  }
  #technology .content__wrap-img .tech-3 {
    background: url(../images/tech-3-tab.jpg) no-repeat center center/cover;
  }
  #technology .content__wrap-text {
    height: 55%;
    width: 100%;
    padding-left: 0;
    gap: 0;
    text-align: center;
  }
  #technology .content__wrap-text .heading-5 {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.3375rem;
    position: absolute;
    top: 13rem;
    left: 3rem;
  }
  #technology .content__wrap-text .nav-and-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #technology .content__wrap-text .nav-and-text .content__wrap-nav ul {
    flex-direction: row;
    gap: 2rem;
  }
  #technology .content__wrap-text .nav-and-text .content__wrap-nav ul a {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.337rem;
  }
  #technology .content__wrap-text .nav-and-text .text-details {
    gap: 2rem;
  }
  #technology .content__wrap-text .nav-and-text .text-details p {
    line-height: 1.9rem;
    width: 50rem;
    text-align: center;
  }
  #technology .content__wrap-text .nav-and-text .text-details p:not(:first-child) {
    line-height: 2.7rem;
  }
  #technology .content__wrap-text .nav-and-text .text-details h3 {
    font-size: 4rem;
    line-height: 4.6rem;
    margin-bottom: 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.1s;
}

a:hover {
  border-bottom: 2px solid #d0d6f9;
}

.active {
  border-bottom: 2px solid #ffffff;
}

h1, h2, h3, h4 {
  font-family: "Bellefair", serif;
  color: #ffffff;
}

h5, p, a {
  font-family: "Barlow Condensed", sans-serif;
}

.navbar {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 1.5rem;
  left: 0;
  display: flex;
  align-items: center;
}
.navbar .logo {
  position: absolute;
  left: 3%;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .line {
  height: 0.5px;
  min-width: 33vw;
  background-color: #ffffff;
  position: absolute;
  left: 10.5%;
}
.navbar .nav {
  width: 57%;
  width: 57vw;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0.9;
}
.navbar .nav ol {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.navbar .nav ol li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.92rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  padding: 2rem;
}
.navbar .nav ol li span {
  font-weight: 700;
  margin-right: 0.5rem;
}

@media (max-width: 950px) {
  .navbar .line {
    width: 30vw;
  }
  .navbar nav {
    width: 45vw;
  }
  .navbar nav ol li a span {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar {
    top: 0;
    z-index: 10;
  }
  .navbar .line {
    display: none;
  }
  .navbar nav {
    width: 45vw;
  }
  .navbar nav ol li a {
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.2rem;
    padding: 2rem 1rem;
  }
  .navbar nav ol li a span {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */